h1{
	font-size:50px;
	margin:5px;
}
h2{
	color: red;

}
body{
	padding-left: 0px;
	margin-bottom: 10px;
	font-family:'Roboto',sans-serif;
	background-color: #89cff0;
}
.rounded{
	border-radius: 25px;
}
nav a{
	text-decoration:none;

}
a:hover{
	color:red;
}
nav{
	padding: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
}
#navigation{
	border-bottom: 1px solid black ;
	padding-left: 10px;
	padding-bottom: 10px;
}